.title {
  font-family: 'Monoton', cursive;
  font-size: 4em;
  display: block;
  text-align: center;
}

.body {
  background: #EFEFEF;
}

/*.hidden {
  display: none;
}*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.modelImage {
  height: 100px;
  width: 100px;
}

.iframe {
  height: 400px;
}

.viewer {

}

.js-query {
  border: 3px solid blue;
}

.query-block {
  margin-bottom: 15px;
}

.models {
  padding-top: 10px;
  border: 1px solid black;
  /*display: inline-block;*/
  height: 150px;
  overflow: auto;
  white-space: nowrap;
  background: white;
}

.search-result-block {
  padding-top: 10px;
}

.youtubeTitle {
  overflow: hidden;
  font-size: 1.2em;
}

.youtubeImage {
  width: 100%;
  height: auto;

}

.videos {
  border: 1px solid red;
  float: right;
  height: 550px;
  overflow-y: auto;
  white-space: nowrap;
  background: white;
}
